@media screen and (width <= 768px) {
  .nav-bar {
    display: flex;
    padding: 20px 25px;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
  }

  .h1-title {
    margin-right: 15px;
  }

  .first-line {
    display: flex;
    justify-content: space-between;
  }

  .first-line__button {
    border: none;
    background: white;
  }

  .nav-bar__form {
    height: 40px;
  }

  .nav-bar__form_input {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
  }
}
