@media screen and (width <= 768px) {
  .settings-panel-avatar {
    width: 170px;
    height: 170px;
    margin: 0;
    margin: auto;
  }

  .settings-panel-avatar img {
    width: 170px;
    height: 170px;
  }
}
